{% extends 'core/base.html' %}

{% block content %}
    <section>
        <div class="row">
            <div class="col-2">
                <h3>{{ event.name }}</h3>
                <b>#{{ event.code }}</b>
                <p style="margin-top: 10px"><small>{{ event.description }}</small></p>
            </div>


            <div class="col-10">
                {% if not request.user.is_authenticated %}
                    <h3>Please log in first to comment</h3>
                {% else %}
                    <div>
                        <form method="post" action="{% url 'core:event details' event.id %}">
                            {% csrf_token %}
                            {{ form }}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-dark" style="margin-top: 10px">Ask Question
                                </button>
                            </div>
                        </form>
                    </div>
                {% endif %}

                <br>

                {% for question in questions %}
                    <div class="card" style="margin-top: 15px">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <span class="badge rounded-pill bg-dark">{{ forloop.revcounter }}</span>
                                    <b>{{ question.author }}</b> said {{ question.created_at|timesince }} ago
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p style="font-size: small">{{ question.body }}</p>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}